input {
    keyboard {
        xkb {
	          layout "de"
        }
        numlock
    }
    touchpad {
        tap
        natural-scroll
    }
    focus-follows-mouse max-scroll-amount="33%"
}

layout {
    gaps 10
    center-focused-column "never"

    // "switch-preset-column-width" (Mod+R) toggles between.
    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
    }

    default-column-width { proportion 0.5; }

    focus-ring {
        width 3
        inactive-color "#505050"
        active-gradient from="#f5c2e7" to="#f38ba8" angle=45
        urgent-color "#9b0000"
    }
}

spawn-at-startup "qs" "-c" "noctalia-shell"

hotkey-overlay {
    skip-at-startup
}

// client-side decorations (top bar etc)
prefer-no-csd

screenshot-path "~/Pictures/Screenshots/%Y-%m-%d_%H-%M-%S.png"

// Open the Firefox picture-in-picture player as floating by default.
window-rule {
    match app-id=r#"firefox$"# title="^Picture-in-Picture$"
    open-floating true
}

// block out password manager from screen capture /- means commented out
/-window-rule {
    match app-id=r#"^org\.keepassxc\.KeePassXC$"#
    block-out-from "screen-capture"
}

// rounded corners
window-rule {
    geometry-corner-radius 15
    clip-to-geometry true
}

binds {
    Mod+Shift+Numbersign { show-hotkey-overlay; }
    Mod+Return hotkey-overlay-title="Open a Terminal: kitty" { spawn "kitty"; }
    Mod+Space hotkey-overlay-title="Run an Application: walker" { spawn "walker"; }

    XF86AudioRaiseVolume allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.1+ -l 1.0"; }
    XF86AudioLowerVolume allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.1-"; }
    XF86AudioMute        allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SINK@ toggle"; }
    XF86AudioMicMute     allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SOURCE@ toggle"; }
    XF86AudioPlay        allow-when-locked=true { spawn-sh "playerctl play-pause"; }
    XF86AudioStop        allow-when-locked=true { spawn-sh "playerctl stop"; }
    XF86AudioPrev        allow-when-locked=true { spawn-sh "playerctl previous"; }
    XF86AudioNext        allow-when-locked=true { spawn-sh "playerctl next"; }

    XF86MonBrightnessUp allow-when-locked=true { spawn "brightnessctl" "--class=backlight" "set" "+10%"; }
    XF86MonBrightnessDown allow-when-locked=true { spawn "brightnessctl" "--class=backlight" "set" "10%-"; }

    Mod+O repeat=false { toggle-overview; }

    Mod+Q repeat=false { close-window; }

    Mod+Left  { focus-column-left; }
    Mod+Down  { focus-window-down; }
    Mod+Up    { focus-window-up; }
    Mod+Right { focus-column-right; }
    Mod+H     { focus-column-left; }
    Mod+J     { focus-window-down; }
    Mod+K     { focus-window-up; }
    Mod+L     { focus-column-right; }

    Mod+Shift+Left  { move-column-left; }
    Mod+Shift+Down  { move-window-down; }
    Mod+Shift+Up    { move-window-up; }
    Mod+Shift+Right { move-column-right; }
    Mod+Shift+H     { move-column-left; }
    Mod+Shift+J     { move-window-down; }
    Mod+Shift+K     { move-window-up; }
    Mod+Shift+L     { move-column-right; }

    // Alternative commands that move across workspaces when reaching
    // the first or last window in a column.
    // Mod+J     { focus-window-or-workspace-down; }
    // Mod+K     { focus-window-or-workspace-up; }
    // Mod+Shift+J     { move-window-down-or-to-workspace-down; }
    // Mod+Shift+K     { move-window-up-or-to-workspace-up; }

    Mod+Odiaeresis         { focus-column-first; }
    Mod+Adiaeresis          { focus-column-last; }
    Mod+Shift+Odiaeresis   { move-column-to-first; }
    Mod+Shift+Adiaeresis    { move-column-to-last; }

    Mod+Comma         { focus-monitor-left; }
    Mod+Ctrl+Comma    { focus-monitor-down; }
    Mod+Period        { focus-monitor-up; }
    Mod+Ctrl+Period   { focus-monitor-right; }

    Mod+Shift+Comma       { move-column-to-monitor-left; }
    Mod+Shift+Ctrl+Comma  { move-column-to-monitor-down; }
    Mod+Shift+Period      { move-column-to-monitor-up; }
    Mod+Shift+Ctrl+Period { move-column-to-monitor-right; }

    Mod+U              { focus-workspace-down; }
    Mod+I              { focus-workspace-up; }
    Mod+Shift+U        { move-column-to-workspace-down; }
    Mod+Shift+I        { move-column-to-workspace-up; }
    Mod+Shift+Ctrl+U   { move-workspace-down; }
    Mod+Shift+Ctrl+I   { move-workspace-up; }

    Mod+WheelScrollDown       cooldown-ms=150 { focus-workspace-down; }
    Mod+WheelScrollUp         cooldown-ms=150 { focus-workspace-up; }
    Mod+Shift+WheelScrollDown cooldown-ms=150 { move-column-to-workspace-down; }
    Mod+Shift+WheelScrollUp   cooldown-ms=150 { move-column-to-workspace-up; }

    Mod+WheelScrollRight       cooldown-ms=150 { focus-column-right; }
    Mod+WheelScrollLeft        cooldown-ms=150 { focus-column-left; }
    Mod+Shift+WheelScrollRight cooldown-ms=150 { move-column-right; }
    Mod+Shift+WheelScrollLeft  cooldown-ms=150 { move-column-left; }

    Mod+Ctrl+WheelScrollDown       { focus-column-right; }
    Mod+Ctrl+WheelScrollUp         { focus-column-left; }
    Mod+Ctrl+Shift+WheelScrollDown { move-column-right; }
    Mod+Ctrl+Shift+WheelScrollUp   { move-column-left; }

    Mod+1 { focus-workspace 1; }
    Mod+2 { focus-workspace 2; }
    Mod+3 { focus-workspace 3; }
    Mod+4 { focus-workspace 4; }
    Mod+5 { focus-workspace 5; }
    Mod+6 { focus-workspace 6; }
    Mod+7 { focus-workspace 7; }
    Mod+8 { focus-workspace 8; }
    Mod+9 { focus-workspace 9; }
    Mod+0 { focus-workspace 10; }
    Mod+Shift+1 { move-column-to-workspace 1; }
    Mod+Shift+2 { move-column-to-workspace 2; }
    Mod+Shift+3 { move-column-to-workspace 3; }
    Mod+Shift+4 { move-column-to-workspace 4; }
    Mod+Shift+5 { move-column-to-workspace 5; }
    Mod+Shift+6 { move-column-to-workspace 6; }
    Mod+Shift+7 { move-column-to-workspace 7; }
    Mod+Shift+8 { move-column-to-workspace 8; }
    Mod+Shift+9 { move-column-to-workspace 9; }
    Mod+Shift+0 { move-column-to-workspace 10; }

    Mod+Tab { focus-workspace-previous; }

    Mod+A  { consume-or-expel-window-left; }
    Mod+D  { consume-or-expel-window-right; }
    Mod+Shift+A  { consume-window-into-column; }
    Mod+Shift+D  { expel-window-from-column; }

    Mod+R       { switch-preset-column-width; }
    Mod+Shift+R { switch-preset-window-height; }
    Mod+Ctrl+R  { reset-window-height; }
    Mod+M       { maximize-column; }
    Mod+Shift+M { fullscreen-window; }
    Mod+Ctrl+M  { expand-column-to-available-width; }
    Mod+C       { center-column; }
    Mod+Ctrl+C  { center-visible-columns; }

    Mod+Less    { set-column-width "-5%"; }
    Mod+Greater { set-column-width "+5%"; }

    Mod+Shift+Less    { set-window-height "-10%"; }
    Mod+Shift+Greater { set-window-height "+10%"; }

    Mod+F       { toggle-window-floating; }
    Mod+Shift+F { switch-focus-between-floating-and-tiling; }

    Mod+T { toggle-column-tabbed-display; }

    Mod+Shift+S { screenshot; }

    // Applications such as remote-desktop clients and software KVM switches may
    // request that niri stops processing the keyboard shortcuts defined here
    // so they may, for example, forward the key presses as-is to a remote machine.
    // It's a good idea to bind an escape hatch to toggle the inhibitor,
    // so a buggy application can't hold your session hostage.
    //
    // The allow-inhibiting=false property can be applied to other binds as well,
    // which ensures niri always processes them, even when an inhibitor is active.
    Mod+Escape allow-inhibiting=false { toggle-keyboard-shortcuts-inhibit; }

    // The quit action will show a confirmation dialog to avoid accidental exits.
    Mod+Shift+E { quit; }
    Ctrl+Alt+Delete { quit; }

    // Powers off the monitors. To turn them back on, do any input like
    // moving the mouse or pressing any other key.
    Mod+Shift+P { power-off-monitors; }
}
